# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
media/

# Static files (generated)
staticfiles/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log